{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <h2>Profile</h2>
  Username: {{ user }}
  <table>
    <tr>
      <th>Articles</th>
      <th><a href="/articles/add/">new article</a></th>
    </tr>
  </table>
  <table>
  {% for article in article_list %}
    <tr>
      <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
      <td><a href="/articles/edit/{{ article.id }}/">Edit</a></td>
      <td><a href="/articles/delete/{{ article.id }}/">Delete</a></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}