{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <h2>Profile</h2>
  <div class="item">Username: {{ user }}</div>
  <br />
  <h2>Articles
    <div class="add">
      <a href="/articles/add/">New Article</a>
    </div>
  </h2>
  {% for article in article_list %}
    <div class="item">
      <a href="{{ article.get_absolute_url }}">{{ article.title }}
      <p class="italics">
        <a href="/articles/edit/{{ article.id }}/">Edit</a> | 
        <a href="/articles/delete/{{ article.id }}/">Delete</a>
      </p>
    </div>
    <br />
  {% endfor %}

{% endblock %}