{% extends "base.html" %}

{% block title %}Add Article{% endblock %}

{% block content %}
  <h2>Write a Blog Article</h2>
  <form action="." method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <table>
      <tr>
        <td colspan="2">{{ form.title.errors }}</td>
      </tr>
      <tr>
        <td>Title:</td>
        <td>{{ form.title }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.body.errors }}</td>
      </tr>
      <tr>
        <td>Content:</td>
        <td>{{ form.body }}</td>
      </tr>
      <tr>
        <td colspan="2">
          {% if article %}
            <input type="hidden" name="article_id" value="{{ article.id }}" />
            <input type="hidden" name="slug" value="{{ article.slug }}" />
          {% endif %}
          <input type="submit" value="Submit" />
        </td>
      </tr>
    </table>
  </ form>
{% endblock %}