{% extends "base.html" %}

{% block title %}Article List{% endblock %}

{% block content %}
  <h2>Articles
    <div class="add">
      <a href="/articles/add/">New Article</a>
    </div>
  </h2>
  
  {% if article_list %}
    {% for article in article_list.object_list %}
      <div class="item">
       <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
      </div>
      <br/>
    {% endfor %}
    
    <div class="pagination">
      <span class="step-links">
      {% if article_list.has_previous %}
        <a href="?page={{ article_list.previous_page_number }}">Prev</a>
      {% endif %}

      <span class="current">
        Page {{ article_list.number }} of {{ article_list.paginator.num_pages }}
      </span>

      {% if article_list.has_next %}
        <a href="?page={{ article_list.next_page_number }}">Next</a>
      {% endif %}
      </span>
    </div>
  {% else %}
    <p>No articles available.</p>
  {% endif %}
{% endblock %}